In [94]:
import pandas as pd

# Read the original CSV file
df = pd.read_csv("GDP_data.csv", encoding="ISO-8859-1")

print(df.columns)

Index(['Country\n', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', '2025', '2026', '2027', '2028'],
      dtype='object')

In [82]:
df_2021 = df[["Country\n", "2021"]]
df_2021.rename(columns={'Country\n': 'Country'}, inplace=True)
df_2021

C:\Users\Tarun\AppData\Local\Temp\ipykernel_11448\3206004616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.rename(columns={'Country\n': 'Country'}, inplace=True)

                      Country       2021
0                 Afghanistan    no data
1                     Albania     6373.3
2                     Algeria   3659.709
3                     Andorra   41873.06
4                      Angola   2167.605
..                        ...        ...
225  Other advanced economies  49166.754
226        Sub-Saharan Africa    1742.05
227                     World  12478.511
228                       NaN        NaN
229                ©IMF, 2023        NaN

[230 rows x 2 columns]

In [61]:
filtered_df = df[df['Country\n'].isin(['Africa (Region)', 'Asia and Pacific', 'North America', 'South America', 'Europe'])]
filtered_df.rename(columns={'Country\n': 'Country'}, inplace=True)
filtered_df

C:\Users\Tarun\AppData\Local\Temp\ipykernel_11448\814407367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns={'Country\n': 'Country'}, inplace=True)

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
196,Africa (Region),no data,no data,no data,no data,no data,no data,no data,no data,no data,...,1998.552,1885.328,2059.338,2177.093,2139.952,2192.967,2305.724,2417.041,2535.384,2669.479
197,Asia and Pacific,966.343,1014.653,968.57,1010.987,1053.728,1054.782,1316.64,1534.652,1798.673,...,7327.872,7295.637,8329.406,8322.575,8792.752,9324.33,9896.908,10497.948,11114.74,11790.022
204,Europe,8991.406,8059.436,7781.135,7560.86,7248.599,7487.701,10054.496,12322.439,13747.118,...,29286.329,28314.039,32228.364,32319.41,33999.912,35379.419,36800.753,38155.7,39400.879,40550.449
207,North America,10457.985,11686.633,11731.442,12418.412,13601.14,14385.174,14755.961,15564.767,16773.882,...,49406.255,47785.377,53105.969,57617.694,60306.362,61896.306,63747.791,65797.118,67932.895,70191.01
209,South America,2455.846,2410.914,1997.967,1833.66,1759.648,1904.075,2107.458,2193.205,2397.639,...,8208.753,6687.082,7654.63,8781.194,9314.199,9669.079,9978.449,10362.045,10753.553,11164.553

In [ ]:
# Print the resulting DataFrame
filtered_df.to_csv("continent_gdp_data.csv", index=False)

In [95]:
df = pd.read_csv("GDP_data.csv", encoding="ISO-8859-1")

# Melt the DataFrame to reshape it
df_melted = df.melt(id_vars=['Country\n'], var_name="Year", value_name="GDP_per_capita")

df_melted.rename(columns={'Country\n': 'Country'}, inplace=True)

# Convert the "Year" column to a datetime type (assuming the year columns contain valid years)
df_melted['Year'] = pd.to_datetime(df_melted['Year'], format='%Y')
df_melted['Year'] = (df_melted['Year']).dt.year

# Optionally, you can sort the DataFrame by year if it's not already sorted
df_melted = df_melted.sort_values(by='Year')

# Now, df_melted contains the data in a format suitable for Vega-Lite

df_melted

                                Country  Year GDP_per_capita
0                           Afghanistan  1980        no data
146                         Saint Lucia  1980       1460.566
147    Saint Vincent and the Grenadines  1980        903.445
148                               Samoa  1980        no data
149                          San Marino  1980        no data
...                                 ...   ...            ...
11120                              Iraq  2028        6678.17
11121                           Ireland  2028     139000.623
11122                            Israel  2028      64447.313
11124                           Jamaica  2028       7621.283
11269                        ©IMF, 2023  2028            NaN

[11270 rows x 3 columns]

In [12]:
# Export the reshaped DataFrame to a new CSV file
df_melted.to_csv("reshaped_gdp_data.csv", index=False)

In [68]:
df = pd.melt(filtered_df, id_vars=["Country"], var_name="year", value_name="gdp")
df.to_csv("reshaped_continent_data.csv", index=False)

In [19]:
# Export the world GDP DataFrame to a new CSV file
world_gdp.to_csv("total_world_gdp_data", index=False)

In [12]:
df = df_melted

unique_countries = df['Country'].unique()

# Format the values with double quotes and sort in ascending order
unique_countries_sorted = sorted(['"{0}"'.format(country) for country in map(str, unique_countries)])

# Display the list of unique countries in ascending order with double quotes
unique_countries_sorted

['"ASEAN-5"',
 '"Advanced economies"',
 '"Afghanistan"',
 '"Africa (Region)"',
 '"Albania"',
 '"Algeria"',
 '"Andorra"',
 '"Angola"',
 '"Antigua and Barbuda"',
 '"Argentina"',
 '"Armenia"',
 '"Aruba"',
 '"Asia and Pacific"',
 '"Australia and New Zealand"',
 '"Australia"',
 '"Austria"',
 '"Azerbaijan"',
 '"Bahamas, The"',
 '"Bahrain"',
 '"Bangladesh"',
 '"Barbados"',
 '"Belarus"',
 '"Belgium"',
 '"Belize"',
 '"Benin"',
 '"Bhutan"',
 '"Bolivia"',
 '"Bosnia and Herzegovina"',
 '"Botswana"',
 '"Brazil"',
 '"Brunei Darussalam"',
 '"Bulgaria"',
 '"Burkina Faso"',
 '"Burundi"',
 '"Cabo Verde"',
 '"Cambodia"',
 '"Cameroon"',
 '"Canada"',
 '"Caribbean"',
 '"Central African Republic"',
 '"Central America"',
 '"Central Asia and the Caucasus"',
 '"Chad"',
 '"Chile"',
 '"China, People\'s Republic of"',
 '"Colombia"',
 '"Comoros"',
 '"Congo, Dem. Rep. of the"',
 '"Congo, Republic of "',
 '"Costa Rica"',
 '"Croatia"',
 '"Cyprus"',
 '"Czech Republic"',
 '"Côte d\'Ivoire"',
 '"Denmark"',
 '"Djibouti"',
 '"Dominica"',
 '"Dominican Republic"',
 '"East Asia"',
 '"Eastern Europe "',
 '"Ecuador"',
 '"Egypt"',
 '"El Salvador"',
 '"Emerging and Developing Asia"',
 '"Emerging and Developing Europe"',
 '"Emerging market and developing economies"',
 '"Equatorial Guinea"',
 '"Eritrea"',
 '"Estonia"',
 '"Eswatini"',
 '"Ethiopia"',
 '"Euro area"',
 '"Europe"',
 '"European Union"',
 '"Fiji"',
 '"Finland"',
 '"France"',
 '"Gabon"',
 '"Gambia, The"',
 '"Georgia"',
 '"Germany"',
 '"Ghana"',
 '"Greece"',
 '"Grenada"',
 '"Guatemala"',
 '"Guinea"',
 '"Guinea-Bissau"',
 '"Guyana"',
 '"Haiti"',
 '"Honduras"',
 '"Hong Kong SAR"',
 '"Hungary"',
 '"Iceland"',
 '"India"',
 '"Indonesia"',
 '"Iran"',
 '"Iraq"',
 '"Ireland"',
 '"Israel"',
 '"Italy"',
 '"Jamaica"',
 '"Japan"',
 '"Jordan"',
 '"Kazakhstan"',
 '"Kenya"',
 '"Kiribati"',
 '"Korea, Republic of"',
 '"Kosovo"',
 '"Kuwait"',
 '"Kyrgyz Republic"',
 '"Lao P.D.R."',
 '"Latin America and the Caribbean"',
 '"Latvia"',
 '"Lebanon"',
 '"Lesotho"',
 '"Liberia"',
 '"Libya"',
 '"Lithuania"',
 '"Luxembourg"',
 '"Macao SAR"',
 '"Madagascar"',
 '"Major advanced economies (G7)"',
 '"Malawi"',
 '"Malaysia"',
 '"Maldives"',
 '"Mali"',
 '"Malta"',
 '"Marshall Islands"',
 '"Mauritania"',
 '"Mauritius"',
 '"Mexico"',
 '"Micronesia, Fed. States of"',
 '"Middle East (Region)"',
 '"Middle East and Central Asia"',
 '"Moldova"',
 '"Mongolia"',
 '"Montenegro"',
 '"Morocco"',
 '"Mozambique"',
 '"Myanmar"',
 '"Namibia"',
 '"Nauru"',
 '"Nepal"',
 '"Netherlands"',
 '"New Zealand"',
 '"Nicaragua"',
 '"Niger"',
 '"Nigeria"',
 '"North Africa"',
 '"North America"',
 '"North Macedonia "',
 '"Norway"',
 '"Oman"',
 '"Other advanced economies"',
 '"Pacific Islands "',
 '"Pakistan"',
 '"Palau"',
 '"Panama"',
 '"Papua New Guinea"',
 '"Paraguay"',
 '"Peru"',
 '"Philippines"',
 '"Poland"',
 '"Portugal"',
 '"Puerto Rico"',
 '"Qatar"',
 '"Romania"',
 '"Russian Federation"',
 '"Rwanda"',
 '"Saint Kitts and Nevis"',
 '"Saint Lucia"',
 '"Saint Vincent and the Grenadines"',
 '"Samoa"',
 '"San Marino"',
 '"Saudi Arabia"',
 '"Senegal"',
 '"Serbia"',
 '"Seychelles"',
 '"Sierra Leone"',
 '"Singapore"',
 '"Slovak Republic"',
 '"Slovenia"',
 '"Solomon Islands"',
 '"Somalia"',
 '"South Africa"',
 '"South America"',
 '"South Asia"',
 '"South Sudan, Republic of"',
 '"Southeast Asia"',
 '"Spain"',
 '"Sri Lanka"',
 '"Sub-Saharan Africa (Region) "',
 '"Sub-Saharan Africa"',
 '"Sudan"',
 '"Suriname"',
 '"Sweden"',
 '"Switzerland"',
 '"Syria"',
 '"São Tomé and Príncipe"',
 '"Taiwan Province of China"',
 '"Tajikistan"',
 '"Tanzania"',
 '"Thailand"',
 '"Timor-Leste"',
 '"Togo"',
 '"Tonga"',
 '"Trinidad and Tobago"',
 '"Tunisia"',
 '"Turkmenistan"',
 '"Tuvalu"',
 '"Türkiye, Republic of"',
 '"Uganda"',
 '"Ukraine"',
 '"United Arab Emirates"',
 '"United Kingdom"',
 '"United States"',
 '"Uruguay"',
 '"Uzbekistan"',
 '"Vanuatu"',
 '"Venezuela"',
 '"Vietnam"',
 '"West Bank and Gaza"',
 '"Western Europe"',
 '"Western Hemisphere (Region)"',
 '"World"',
 '"Yemen"',
 '"Zambia"',
 '"Zimbabwe"',
 '"nan"',
 '"©IMF, 2023"']

In [74]:
HPI = pd.read_csv("HPI.csv", encoding="ISO-8859-1")
HDI = pd.read_csv("HDI_2019.csv", encoding="ISO-8859-1")

In [84]:
merged_df = pd.merge(HPI, HDI, on='Country', how='inner')
merged_df = pd.merge(merged_df, df_2021, on='Country')
merged_df.rename(columns={'2021': 'GDP_per_capita'}, inplace=True)
merged_df

                      Country        HPI  Normalised_HPI    HDI GDP_per_capita
0                  Costa Rica  62.057552        0.620576  0.819      12472.833
1                     Vanuatu  60.363876        0.603639  0.611       3017.666
2                    Colombia  60.165168        0.601652  0.768       6239.274
3                 Switzerland  60.104650        0.601047  0.962      92238.988
4                     Ecuador  58.831213        0.588312  0.760       5978.915
..                        ...        ...             ...    ...            ...
124                  Zimbabwe  28.640191        0.286402  0.601       2321.629
125                   Lesotho  27.308550        0.273086  0.524        1221.77
126  Central African Republic  25.211463        0.252115  0.411        525.329
127                  Mongolia  24.467037        0.244670  0.746       4482.853
128                     Qatar  24.326554        0.243266  0.859      68621.644

[129 rows x 5 columns]

In [85]:
merged_df.to_csv("HDI_HPI_data.csv", index=False)

In [90]:
hdi_hpi = pd.read_csv("HDI_HPI_data.csv", encoding="ISO-8859-1")
continents = pd.read_csv("COVID_19_10_Oct_2020.csv", encoding="ISO-8859-1")

continents = continents[["Country", "Continent"]] 

merged_continent = pd.merge(hdi_hpi, continents, on='Country')
merged_continent

,Country,HPI,Normalised_HPI,HDI,GDP_per_capita,Continent
0,Costa Rica,62.057552,0.620576,0.819,12472.833,North America
1,Colombia,60.165168,0.601652,0.768,6239.274,South America
2,Switzerland,60.104650,0.601047,0.962,92238.988,Europe
3,Ecuador,58.831213,0.588312,0.760,5978.915,South America
4,Panama,57.932170,0.579322,0.817,14664.31,North America
...,...,...,...,...,...,...
121,Zimbabwe,28.640191,0.286402,0.601,2321.629,Africa
122,Lesotho,27.308550,0.273086,0.524,1221.77,Africa
123,Central African Republic,25.211463,0.252115,0.411,525.329,Africa
124,Mongolia,24.467037,0.244670,0.746,4482.853,Asia
125,Qatar,24.326554,0.243266,0.859,68621.644,Asia

In [92]:
merged_continent.to_csv("HDI_HPI_data.csv", index=False)

In [25]:
df = pd.read_csv("HDI_trends.csv", encoding="ISO-8859-1")
df

,HDI rank,Country,1990,2000,2010,2015,2018,2019,2020,2021,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,NaN,NaN,NaN,NaN,NaN
1,2.0,Norway,0.838,0.913,0.941,0.953,0.962,0.961,0.959,0.961,NaN,NaN,NaN,NaN,NaN
2,3.0,Iceland,0.811,0.871,0.902,0.945,0.959,0.960,0.957,0.959,NaN,NaN,NaN,NaN,NaN
3,4.0,"Hong Kong, China (SAR)",0.788,0.851,0.907,0.935,0.949,0.952,0.949,0.952,NaN,NaN,NaN,NaN,NaN
4,5.0,Australia,0.865,0.896,0.923,0.933,0.941,0.941,0.947,0.951,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:

# Read the CSV file into a DataFrame
df = pd.read_csv('HDI_trends.csv', encoding="ISO-8859-1")

# Define the columns to be melted (in this case, columns 2 to 9)
value_vars = df.columns[2:10]

# Use the pd.melt() function to reshape the DataFrame
df_long = pd.melt(df, id_vars=['HDI rank', 'Country'], value_vars=value_vars, var_name='year', value_name='HDI')

# Sort the DataFrame by 'HDI rank' and 'year'
df_long.sort_values(by=['HDI rank', 'year'], inplace=True)

# Reset the index
df_long.reset_index(drop=True, inplace=True)

df_long.rename(columns={'year': 'Year'}, inplace=True)

# Display the resulting DataFrame
print(df_long)

      HDI rank      Country  Year    HDI
0            1  Switzerland  1990  0.851
1            1  Switzerland  2000  0.887
2            1  Switzerland  2010  0.942
3            1  Switzerland  2015  0.954
4            1  Switzerland  2018  0.959
...        ...          ...   ...    ...
1523       191  South Sudan  2015  0.412
1524       191  South Sudan  2018  0.395
1525       191  South Sudan  2019  0.393
1526       191  South Sudan  2020  0.386
1527       191  South Sudan  2021  0.385

[1528 rows x 4 columns]

In [31]:
df_long.to_csv("HDI_trend_data.csv", index=False)

In [107]:
education = pd.read_csv('mean-years-of-schooling-long-run.csv', encoding="ISO-8859-1")
health = pd.read_csv('life-expectancy.csv', encoding="ISO-8859-1")
gni = pd.read_csv('gross-national-income-per-capita.csv', encoding="ISO-8859-1")
hdi = df_long
gdp = df_melted

In [112]:
result = pd.merge(education, health, on=['Country', 'Year', 'Code'], how='inner')
result2 =  pd.merge(result, gni, on=['Country', 'Year', 'Code'], how='inner')
result3 =  pd.merge(result2, gdp, on=['Country', 'Year'], how='inner')
result3.rename(columns={'Combined - average years of education for 15-64 years male and female youth and adults': 'Average_Education'}, inplace=True)
result3.rename(columns={'Life expectancy (period) at birth - Sex: all - Age: 0': 'Life_Expectancy'}, inplace=True)
result3.rename(columns={'GNI per capita, PPP (constant 2017 international $)': 'GNI_per_capita'}, inplace=True)
result3

,Country,Code,Year,Average_Education,Life_Expectancy,GNI_per_capita,GDP_per_capita
0,Albania,ALB,2015,9.990000,78.6441,12018.4660,3953.611
1,Albania,ALB,2000,9.930000,75.4043,6066.2896,1127.64
2,Albania,ALB,2005,10.240000,76.6208,8199.4730,2673.773
3,Albania,ALB,2010,10.440000,77.9359,10644.9780,4097.833
4,Algeria,DZA,2015,7.550000,75.6220,11475.0650,4153.322
...,...,...,...,...,...,...,...
565,World,OWID_WRL,2005,7.759296,68.2047,12338.3600,7427.372
566,World,OWID_WRL,2010,8.168049,70.1088,13598.4060,9710.822
567,Zimbabwe,ZWE,2015,8.030000,59.5911,2040.1503,1425.466
568,Zimbabwe,ZWE,2020,8.320000,61.1242,1935.5060,1769.565
569,Zimbabwe,ZWE,2010,7.860000,50.6523,1659.4315,975.851

In [113]:
result3.to_csv("all_data.csv", index=False)

In [114]:
result3["Country"].unique()

array(['Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Bahrain', 'Bangladesh', 'Belgium', 'Belize', 'Benin',
       'Bolivia', 'Botswana', 'Brazil', 'Bulgaria', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Central African Republic', 'Chile',
       'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Finland', 'France', 'Gabon', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Latvia', 'Lesotho', 'Lithuania', 'Luxembourg', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Rwanda',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden',
       'Switzerland', 'Tanzania', 'Togo', 'Tonga', 'Tunisia', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Vietnam', 'World', 'Zimbabwe'],
      dtype=object)